html,
body {
    display: flex;
    margin: 0;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

div {
    display: inline-block;
    width: 80%;
    text-align: center;
}

p {
    font-size: 1.5em;
    line-height: 30px;
}

a {
    text-decoration: underline;
    font-style: italic;
    color: black;
}
